.bottom-navigation {
  position: fixed;
  width: 100%;
  height: 62px;
  bottom: 5px;
  padding: 0px 10px;
  z-index: 101;
  color: #707070;
  max-width: 600px;
}

.nav-child {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background: #242424;
  padding: 4px;
  border: 1px solid #181818;
  margin-left: -10px;
}

.nav-item {
  flex: 0 1 20%;
  height: 100%;
  border-radius: 16px;
  padding: 5px;
}

.nav-image {
  width: 26px;
  height: 26px;
  margin: 0 auto;
  margin-bottom: 6px;
}

.nav-image img {
  width: 100%;
  height: 100%;
}

.nav-text {
  text-align: center;
  font-size: 10px;
}

.active-tab {
  background: #181818;
  color: rgba(255, 255, 255, .9);
}