.header {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left:0;
  padding: 0px 10px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > .user-wrapper {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

.header > .user-wrapper > .avatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #fff;
  margin-right: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header>.user-wrapper>.avatar img {
  width: 100%;
  height: 100%;
}

.header-btn {
  height: 38px;
  padding: 12px 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  background: #272727;
}

.header-btn img {
  width: 26px;
  margin-right: 6px;
}